.Portfolio__Body {
  .Portfolio__item {
    margin-bottom: 200px;
  }

  ul li img {
    width: 90%;
    margin: 20px 5%;
    box-shadow: $material-shadow;
  }

  .mobile-screenshot {
    width: 40% !important;
  }

  dl dt {
    font-weight: 700;
  }
}

.Portfolio__item-title {
  text-decoration: underline;
}

.starter-docs-features {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-column-gap: 10%;

  li {
    list-style: circle;
  }
}
