---
layout: default
title: Stream
permalink: /stream/
weight: 1
description: A collection of my articles, projects and photos.
---

{% include title.html %}

<section class='stream'>
  {% for post in site.posts %}
  {% unless post.hidden %}
    <div class="stream-item {{post.type}}">
      {% if post.external_url %}
        <a href='{{post.external_url}}' />
      {% else %}
        <a href='{{post.url}}' />
      {% endif %}
      {% if post.type == 'article' %}
        <h3>{{post.type}}</h3>
        <h1>{{post.title}}</h1>
        <time datetime="{{ page.date | date: "%Y-%m-%d" }}" itemprop="datePublished">
          {{ post.date | date: "%d %b %y" }}
          {% if post.external_site %} • {{ post.external_site }}{% endif %}
        </time>
      {% endif %}

      {% if post.type == 'project' %}
        <div class='project-description'>
          <h1>{{post.title}}</h1>
          <p>{{post.description}}</p>
        </div>
      {% endif %}

      {% if post.type == 'tool' %}
      <div class='project-description'>
        <h1>{{post.title}}</h1>
        <p>{{post.description}}</p>
      </div>
    {% endif %}

      {% if post.type == 'quote' %}
      <div class='project-description'>
        <p class='quote'>{{post.quote}}</p>
        <p>{{post.meta}}</p>
      </div>
    {% endif %}

      {% if post.type == 'photo' %}
      <div class='post-description'>
        <h1>{{post.title}}</h1>
        <p>{{post.location}}</p>
        <p>{{ post.date | date: "%d %b %y" }}</p>
      </div>

        <img src="{{post.img_url}}" />
      {% endif %}
      </a>
    </div>
  {% endunless %}
  {% endfor %}
</section>