.Post-Hero {
  margin: 200px 0 100px;
  position: relative;
  h1 {
    margin: 0;
    line-height: 1.2;
  }
  .PostDate {
    position: absolute;
    top: -20px;
    color: grey;
    font-family: $mono;
    font-size: 1.2rem;
  }
}

.PostBody {
  margin: $spacing-unit * 2 auto;
  min-width: 600px;

  p > img, img {
    display: block;
    margin: auto;
  }

  ul, dl {
    margin-left: 25px;
    list-style: disc;

    li, p, ul, ol {
      margin: 0 !important;
    }
  }

  ol {
    margin-left: 25px;
    list-style: decimal;

    li, p, ul, ol {
      margin: 0 !important;
    }
  }
}

.PostCover {
  margin: auto;
  display: block;
  overflow: hidden;
  max-width: 100%;
}

.PostOptIn {
  margin-top: $spacing-unit * 3;
  padding-top: $spacing-unit * 2;
  border-top: 1px solid black;
}

.PostMeta {
  border-top: 1px solid black;
  margin: 0 $spacing-unit * 3;
}

.post-tag-container {
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 1.2rem;
    margin: 8px 0 0 0;
  }

  a {
    button {
      line-height: 0;
      outline: none;
      border: none;
      text-decoration: underline;
      background: transparent;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.TagListingBody {
  margin: $spacing-unit * 2 $spacing-unit * 3;
  display: flex;
  flex-direction: column;

  .PostListing--Post {
    display: block;
  }
}

