.HomePostListing {
	display: flex;
	flex-direction: column;
	margin-bottom: 0;
	p {
		display: inline-block;
		margin-bottom: 0;
	}

	.HomePostListing--Post {
		display: grid;
		grid-template-columns: 100px 50px 1fr;
		padding-bottom: $spacing-unit / 4;

		.HomePostListing--DateMeta {
			display: flex;
			flex-direction: column;
			p {
				font-family: $mono;
				font-size: 1.5em;
			}
		}
		.HomePostListing--Category {
			font-family: $mono;
			font-size: 1.5em;
		}
	}
}