.HomeTabs {
	section {
		z-index: 5;
		width: 80vw;
		//height: 80vh;
		position: fixed;
		right: -100vw;
		top: $spacing-unit;
		transition: all .7s ease;
		padding: $spacing-unit;
		@include material-shadow;
		header {
			display: flex;
			justify-content: space-between;

		}

		.closeIcon {
			width: 30px;
			height: 30px;

			&:hover {
				cursor: pointer;
			}
		}

		&.reveal-tab {
			right: 0;
		}
	}

	.TabDetail--Header {
		border-bottom: 1px solid black;
		margin-bottom: $spacing-unit;
	}
	.HomeTabs--About {
		background: lighten($purple, 15%);
	}

	.HomeTabs--Contact {
		background: lighten($blue, 15%);

		 p {
			width: 60%;
		}
	}

	.HomeTabs--Courses {
		background: lighten($turquoise, 15%);
	}
	.HomeTabs--Stream {
		background: $peachy;
		div {
			display: flex;
			flex-direction: column;
		}

		ul {
			display: grid;
			grid-template-columns: repeat(3, 1fr);

			.StreamTab--Post {
				width: calc(26.6666666667vw - 50px);
				height: calc(26.666666667vw - 50px);
				padding: $spacing-unit / 2;

				h2 {
					font-family: $serif;
					font-size: 2.8rem;
				}

				p {
					font-family: $mono;
					font-size: 1.6rem;
				}
			}
			li {
				&:first-child {
					background: darken($peachy, 3%);
				}
				&:nth-child(2) {
					background: darken($peachy, 2%);
				}
				&:last-child {
					background: darken($peachy, 1%);
				}
			}
		}

		a {
			font-size: 2.5rem;
			align-self: flex-end;
			padding-top: $spacing-unit;

			&:hover {
				color: lighten($peachy, 25%);
			}

			&:hover:before {
				background-color: lighten($peachy, 25%);
			}
		}
	}
}