<footer class="site-footer">

    <p class='footer-msg'><em>Let's get in touch.</em></p>
    <div class='button-container' >
      <a class='button' href='mailto:eric@ericwindmill.com'>eric@ericwindmill.com</a>
    </div>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
          <a href='https://github.com/ericwindmill' class='social-icon github'><i class="fa fa-github" aria-hidden="true"></i></a>
          <a href='https://www.linkedin.com/in/eric-windmill-71843849/' class='social-icon linkedin'><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
          <a href='https://twitter.com/ericwindmill' class='social-icon twitter'><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>
      <div class="footer-col footer-col-2">
        <p class='site-description'>{{ site.description | escape }}</p>  
      </div>
    </div>
        <!--<a href="http://res.cloudinary.com/ericwindmill/image/upload/v1497816237/eric_windmill_resume_zdyhli.pdf">Downloadable Resume</a>  -->


  </div>

</footer>
