<footer class="site-footer">

    <!--<div class="wrapper">
      <div class='footer-nav'>
        <a class='footer-nav-item' href="#">Portfolio</a>
        <a class='footer-nav-item' href="#">Articles</a>
        <a class='footer-nav-item' href="#">Reading List</a>
        <a class='footer-nav-item' href="#">Résumé</a>
      </div>-->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
          <a href='https://github.com/ericwindmill' class='social-icon github'><i class="fa fa-github" aria-hidden="true"></i></a>
          <a href='https://mailto:eric@ericwindmill.com' class='social-icon email'><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
          <a href='https://instagram.com/ericwindmill' class='social-icon instagram'><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href='https://linkedin.com/in/ericwindmill' class='social-icon linkedin'><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
          <a href='https://twitter.com/ericwindmill' class='social-icon twitter'><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>
      <div class="footer-col footer-col-2">
        <p class='site-description'>{{ site.description | escape }}</p>  
      </div>
    </div>
        <a href="http://res.cloudinary.com/ericwindmill/image/upload/v1497816237/eric_windmill_resume_zdyhli.pdf">Downloadable Resume</a>  


  </div>

</footer>
