<footer class="site-footer">

  <p class='footer-msg'><em>Let's get in touch.</em></p>
  <div class='footer-contact'>
    <div id='footer-seperator' class='seperator'></div>
    <a class='button footer-button' href='mailto:eric@ericwindmill.com'>eric@ericwindmill.com</a>
    <div id='footer-seperator' class='seperator footer-seperator'></div>
  </div>

    <div class='footer-nav'>
      <div class='elseware'>
          <a href='https://github.com/ericwindmill' class='social-icon github'><i class="fa fa-github" aria-hidden="true"></i></a>
          <a href='https://www.linkedin.com/in/eric-windmill-71843849/' class='social-icon linkedin'><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
          <a href='https://twitter.com/ericwindmill' class='social-icon twitter'><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>
      <p class='site-description'>{{ site.description | escape }}</p>  
    </div>


</footer>
