// articles list 

.post-link {
  color: $blue;
  font-weight: 500;
}

.post-meta {
  text-transform: uppercase;
  font-size: .75em;
  color: $ink;
  font-weight: 600;
  padding-bottom: 15px;

  & > time {
    font-size: 1.1em;
  }
}