.contact {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;

  div {
    width: 45%;

    p, a {
      font-size: $base-font-size * 1.6;
      font-family: $serif;
    }

    a {
      border-bottom: .5px mediumpurple solid;
      transition: all 0.2s ease-in-out;
      &:hover {
        border-bottom: 5px mediumpurple solid;
      }
    }
  }
}

.q {
  font-weight: 600;
  font-size: $base-font-size * 1.2;
  line-height: $base-line-height * 1.5;
}


.email-field,
.message-field,
.submit-button {
  border: none;
  box-sizing: border-box;
  width: 500px;
  padding: 5px;
  outline: 1px black solid;
  background: transparent;
  font-family: $base-font;
  font-size: $base-font-size;
  transition: all 0.1s ease-in;
  margin-left: 5px;

  &:focus {
      background-color: lighten(mediumpurple, 30%);
      width: 510px;
      border: none;
      outline: .5px black solid;
      outline-offset: 0;
      z-index: 5;
  }
}

.contact-form {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-field {
  height: 40px;
}

.message-field {
  height: 200px;

  &:focus {
    height:201px;
  }
}

.submit-button {
  height: 40px;
    &:hover, &:focus {
      background-color: mediumpurple;
      outline: 1px solid black;
      color: white;
    }
}