.home-wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

.title-bg {
  background-color: $sky-blue;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;


  .name-title {

    h1 {
      color: $background-color;
      font-size: $base-font-size * 4;
      text-transform: uppercase;
      font-weight: 800;
      align-self: center; 
      text-shadow: 2px 2px 1px rgba(10,10,10,0.3);
      font-family: $base-font;
      letter-spacing: 10px;
      }

    h3 {
      color: $background-color;
      font-size: $base-font-size * 1.5;
      font-weight: 300;
      text-align: center;
    }
  }

  #title-sq {
    z-index: 0;
    background-color: $sky-blue;
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 6%;
    left: 47%;
    transform: rotate(45deg); 

  }
}


.intro {
  padding: 100px 0;
  background-color: #2B313D;


  .intro-content {

    z-index: -2;
    padding: 20px;
    width: 60%;
    h2 {
      color: $background-color;
      font-size: $base-font-size * 2.4;
    }
    p {
      color: $background-color;
      font-size: $base-font-size * 1.4;
    }
  }
}




.portfolio-title {
  font-size: $base-font-size * 4;
  background-color: #2B313D;
  margin: 0;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: 800;
}

.portfolio {
  padding: 0 0 100px;
  margin: 0 0;
  background-color: #2B313D;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;

}

.project-list {
  li {
    font-size: $base-font-size * 2;
    font-weight: 300;    
    list-style: none;
    padding: 10px 20px;


    p {
      display: inline-block;
      color: lighten($dark-background, 30%);
    }

    h2 {
      display: inline-block;
      font-weight: 300;
      color: lighten($dark-background, 30%);
    }
  }
}

.projects {
  width: 600px;
  height: 500px;
  overflow: hidden;

  .project-content {
    width: auto;
    height: 100%;
    overflow: hidden;
    position: relative;
    
    &:hover {
      .project-info {
        color: black;
      }
      .highlights {
        color: white;
        background-color: grey;
      }
    }
  }

  .project-info {
    color: white;
    position: absolute;
    bottom: 5%;
    left: 1%;
    width: 70%;
    font-size: $base-font-size * 1.4;
    margin: 0 0 40px 15px;
    background-color: rgba(10,10,10,1);
    box-shadow: -2px 2px 5px rgba(10,10,10,.5);
    .highlights {
      display: inline;

    }
  }

    #groovie-display {
      background-image: url('http://res.cloudinary.com/ericwindmill/image/upload/v1497802803/portfolio_site/groovie-dash-with-border.png');
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }

    #bulletin-display {
      background-image: url('http://res.cloudinary.com/ericwindmill/image/upload/v1497803744/portfolio_site/bulletin-map-border.png');
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;

      #bulletin-info {
        width: 40%;
      }
    }

     #on-the-grid-display {
      background-image: url('http://res.cloudinary.com/ericwindmill/image/upload/v1497804715/portfolio_site/on-the-grid-border.png');
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;

      #on-the-grid-info {
        width: 70%;
      }
    }

}



.about-bg {
  
}

.about {
  padding: 20px;
  width: 60%;
}


.overlay {
    font-size: 32px;
    font-weight: 300;    
    list-style: none;
    padding: 10px 20px;
    color: $pink;

}

.overlay-header {
    margin-left: 5px;
    color: $pink;
    display: inline-block;
    font-weight: 300;
}

.overlay-num {
    display: inline-block;
    color: $pink;
}
