.title {
  text-align: center;
  margin: 100px auto;
  border: solid 2px $blue;
  padding: 20px;
  width: 50%;
  background: white;
  box-shadow: 0 10px 6px -6px darken($grey, 25%);


  .name {
    font-size: 3rem;
    color: $blue;
    line-height: 1;
    margin-bottom: 0;
  }
  .tag {
    font-size: 1.3rem;
    color: $blue;
  }
}

.hero {
  position: relative;
  width: 100%;
  height: 450px;
}

  .hero-insta {
    position: absolute;
    left: 2%;
    top: 205px;
  }
  .square {
    position: absolute;
    overflow: hidden;
    // box-shadow: 1px 1px 5px black;

    > img {
      max-width: 200px;
      max-height: 200px;
      margin: 0;

      //monitor
      @media screen
        and (min-width: 1050px) {
          max-width: 300px;
          max-height: 300px;
        }
      // small
      @media screen 
        and (max-width: 790px) {
          
        }
    }
    
    &:after {
      min-width: 200px;
      min-height: 200px;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
    }

// CIVIC CENTER
    &:nth-of-type(1) {
      top: 0;
      right: 84%;
      z-index: 2;
    }
// RED ROCKS
    &:nth-of-type(2) {
      top: 0;
      right: 33%;
      z-index: 1;
    }
// SOMM
    &:nth-of-type(3) {
      top:0;
      right: 50%;
      z-index: 2;
    }
// CHIANG MAI
    &:nth-of-type(4) {
      top: 0;
      right: -1%;
      z-index: 1;
    }
// MOMA
    &:nth-of-type(5) {
      top: 200px;
      right: 16%;
      z-index: 2;
    }
// JIM
    &:nth-of-type(6) {
      top: 400px;
      right: -1%;
      z-index: 2;
    }
// REAPER
    &:nth-of-type(7) {
      top: 200px;
      right: -1%;
      z-index: 1;
    }
// RED
    &:nth-of-type(8) {
      top: 0px;
      right: 67%;
      z-index: 1;
    }
// YELLOW
    &:nth-of-type(9) {
      top: 200px;
      right: 33%;
      z-index: 1;
    }
// BLUE
    &:nth-of-type(10) {
      top: 0px;
      right: 16%;
      z-index: 2;
    }
}

.about {
  width: 60%;
  margin: 0;

  h3 {
    color: $blue;
    margin: 0 0 3px 0;
  }

  .about-tag {
    position: relative;
    border-top: 5px solid $blue;
    border-left: 2px solid $blue;
    border-right: 2px solid $blue;
    background: white;
    display: inline-block;
    z-index: 5;
    padding: 20px;

  }
  .about-content {
    position: relative;
    margin-top: -2px;
    border-left: 2px solid $blue;
    border-bottom: 2px solid $blue;
    border-right: 2px solid $blue;
    border-top: 2px solid $blue;
    background: white;
    display: inline-block;
    box-shadow: 0 10px 6px -6px darken($grey, 25%);
    z-index: 0;
    padding: 20px;
  }
}


.portfolio-section {
  width: 50%;
  margin: 0 0 0 auto;
  border: solid 2px $blue;
  padding: 20px;
  background: white;
  box-shadow: 0 10px 6px -6px darken($grey, 25%);
}

.experience-item {
  margin: ($spacing-unit * .67) 0;
  h3, h3 > a {
    font-weight: 500;
    margin: 0;
  }

  h3 > a {
    font-size: 16px;
    color: $blue;
    &:hover {
      color: darken($blue, 25%)
    }
  }
}



/*****
*Utility
*****/
.label-seperator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-unit 0;

  p {
    display: inline;
    margin: 0;
    text-transform: lowercase;
    font-size: .9em;
    color: $blue;
  }
}

.seperator {
  height: 1px;
  border-bottom: 1px $blue solid;
  width: 90%;
}






