.Home {
}

.Hero {
	//width:
}

.Stream--Grid {
	// Grid / Layout
	display: grid;
	grid-template-columns: repeat(2, calc(50vw - 150px));
	grid-template-rows: 75vh repeat(8, calc(50vw - 150px)) calc(25vw - 75px);
	grid-auto-rows: calc(50vw - 150px);
	justify-content: center;
	align-items: stretch;

	@include Grid-On-Palm;
	@include Grid-Wide-Screen;

	.Stream--GridItem {
		list-style: none;
		background: $card-main-background;
		height: 100%;
		padding: 50px;

		&:hover {
			background: darken(white, 2%);
			cursor: e-resize;
		}

		&:nth-child(4n), &:nth-child(4n-1) {
			background: $card-secondary-background;

			&:hover {
				background: darken($card-secondary-background, 2%);
			}
		}

		// GridItem Types:
		&.tool {
			background: $brand;
			@extend .dark-background;

			&.tool:hover {
				background: darken($brand, 2%);
			}
		}

		&.Nav {
			@extend .dark-background;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			background: $brand;
			background-image: linear-gradient(120deg, $brand 0%, lighten($brand, 0%) 100%);
			background-repeat: no-repeat;
			background-size: 0% 100%;
			transition: all 0.25s ease-in-out;

			&.Nav:hover {
				background-image: linear-gradient(120deg, $brand 0%, lighten($brand, 2%) 100%);
				background-repeat: no-repeat;
				background-size: 100% 100%;
			}

			> p {
				color: $tertiary;
				display: inline;
				border-bottom: none;
			}

		}

		// Content
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.GridAnchor {
		padding: 0;
		margin: 0;
	}
}



.Hero {
	grid-column: span 2;
	@include Single-Column-On-Mobile;
	margin-bottom: 150px;
}

#grid-nav-right {
	background: darken($brand, 5%);

	&:hover {
		background: darken($brand, 7%);
	}
}


.post-info {
	h3 {
		margin-bottom: 30px;
		width: 50%;
	}
	p {
		width: 70%;
	}
}


// Side nav Fade in-out
.side-nav {
	transition: all .5s ease-in;
	opacity: 0; 
	position: fixed;
}

.side-nav-left {
	transform: rotate(-90deg);
	top: 50%;
	left: -5px; 
}

.side-nav-right {
	transform: rotate(90deg);
	top: 50%;
	right: -5px; 
}

.side-nav.fade-in-right {
	right: 50px; 
	opacity: 1;
}

.side-nav.fade-in-left {
	left: 50px;
	opacity: 1;
}