.home {
  padding: 20px;

  main, section, header {
    border-bottom: 1px solid $text-color;
  }
}

.intro {
  .name-title {
    display: flex;
    justify-content: space-between;

    h1 {
      margin: 0;
    }
  }
  


  a#to_site {
    display: block;
    text-align: right;
  }

  .copy {
    padding: 20px;
    margin: 20px 0;

    p {
      width: 60%;
      font-size: $base-font-size * 1.4;
    }
  }
}

.projects {
  
  .project {
    height: 300px;
    background-color: $slate;
    margin: 40px 0;
  }

  .project-header {
    margin: 0 20px;
    height: 60px;
    
    h1 {
      color: $grey-color-light;
    }
  }

  #grooviehq {

  }

  #on-the-grid {

  }

  #bulletin {

  }
}

.about {
  padding: 20px;
  width: 50%;
}