.home-wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

.title-bg {
  background-color: $sky-blue;
  background-image: url('http://res.cloudinary.com/ericwindmill/image/upload/v1498708259/portfolio_site/bg-2.png');
  background-size: cover;
  background-position: right bottom;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  .name-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      align-self: center;
      text-align: center;
      margin-bottom: 30px;
    }

    h1 {
      color: $background-color;
      font-size: $base-font-size * 4;
      text-transform: uppercase;
      font-weight: 800;
      align-self: center; 
      text-shadow: 2px 2px 1px rgba(10,10,10,0.3);
      font-family: $base-font;
      letter-spacing: 10px;
      }

    h3 {
      color: $background-color;
      font-size: $base-font-size * 1.5;
      font-weight: 300;
      text-align: center;
      margin-bottom: 0;
    }
  }
}




.portfolio-title {
  font-size: $base-font-size * 3;
  font-weight: 300;
  margin: 40px 0;
  text-align: center;
  color: block;
}


.works-page {
  margin: 20px 0 150px;

}


.about-bg {
    background-color: #2B313D;
    padding: 60px 0 20px;
}

.about {

  h2 {
    text-align: center;
    color: white;
    font-weight: 300;
    line-height: 1.2;
  }
}

.about-content {

  > p {
    color: white;
  }
}



#about-img {
  width: 200px;
  height: 200px;
  margin-right: 20px;
}
