@charset "utf-8";

// Define defaults for each variable.
$base-font:        'Lato', sans-serif;
$serif:            'Cardo', serif !default;
$sans-serif:       "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.7 !default;
$spacing-unit:     30px !default;



//flat, cool theme:
$blue:             #5680E9 !default; 
$light-blue:       #84CEEB !default;
$sky-blue:         #5AB9EA !default;
$pink:             #C1C8E4 !default; 
$purple:           #8860D0 !default; 
$dark-background:  #2B313D !default;


//Greys
$grey-color:       #5F6366 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$text-color:       #030303 !default;
$light-text:       #cbd2db !default;
$background-color: #fff !default;

// Width of the content area
$content-width:    1100px !default;
$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
