// articles list // main page 
a {
  color: $blue;
}
.post-link {
  color: $blue;
  font-weight: 500;
}

.post-meta {
  text-transform: uppercase;
  font-size: .75em;
  color: $ink;
  font-weight: 600;
  padding-bottom: 15px;

  & > time {
    font-size: 1.1em;
  }
}


// articles themselves
.post {
  margin-top: $spacing-unit;
  padding: $spacing-unit;
  background: white;
  box-shadow: 0 10px 6px -6px darken($grey, 25%);
  border: 2px solid $blue;
  .post-seperator {
    width: 100%;
    margin-bottom: 10px;
  }
  .text-content-width {
    *:not(hr) {
      padding-bottom: $post-padding;
    }
  }
}

.post-header {
  text-align: center;
  margin: ($spacing-unit * 2) 0;

  > * {
    color: $blue;
    line-height: 1.5;
    margin: 0;

  }
}

.aside {
  font-size: .8em;
  background: $grey;
  padding: 10px;
  position: relative;
  text-align: right;
  border-radius: 2px;
  margin: $spacing-unit 0;

  p {
    width: 80%;
    margin: 0 0 0 auto;
  }


  &:before {
    content: 'aside:';
    font-style: italic;
    font-size: 1.5em;
    position: absolute;
    top: 0px;
    left: 10px;
  }
}


.technical-quote {
  font-size: .8em;
  background: $grey;
  padding: 10px;
  border-radius: 2px;
  margin: $spacing-unit 0;
  font-style: italic;

  > p, ul {
    margin-bottom: 0;
  }

  > .citation {
    padding-left: $spacing-unit;
  }
}

// Specific Posts:
//Library

#library-bq {
  text-align:right;
  background-color: $grey;
  padding: 10px;

  > .quote {
    max-width: 500px;
    margin: 0 0 0 auto;
  }

  > .cite {
    font-size: .8em;
    font-style: normal;
  }
}