.stream {
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 2fr) );
  justify-items: space-around;
  justify-content: center;
  

  @media screen 
    and (min-width: 1050px) {
    max-width: 1050px; }
  @media screen 
    and (min-width: 790px)
    and (max-width: 1049px) {
      max-width: 790px; }
  
}

.stream-item {
  box-sizing: border-box;
  height: 250px;
  min-width: 250px; 
  background-color: white;
  text-decoration: none;
  transition: all 300ms ease-in-out;
  padding: 15px 20px 15px 40px;
  box-shadow: 0 10px 6px -6px rgba(0, 0, 0 , 0.3);
  border: 2px solid $blue;

  a {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  // overflow: hidden;

  &:hover {
    box-shadow: 0 15px 20px -6px  rgba(0, 0, 0 , 0.3);
    height: 245px;
    margin-bottom: 5px;

  }

  h3 {
    color: darken($grey, 25%);
    margin: 0;
  }

  h1 {
    line-height: 1.2;
    color: $ink;
  }

  time {
    color: $ink;
    font-size: .9em;
  }

}

.stream-item.photo {
  display: flex;
  flex-direction: column;
  padding: 0;
  position: relative;
  transition: all 200ms ease-in-out;
  border: none;
  width: 250px;

  .post-description {
    transition: all 200ms ease-in-out;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
    p, h1 {
      color: white;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 1;
      text-align: center;
    }
  }
  
  &:hover {
    .post-description {
      opacity: 1;
    }
  }
  
  h1 {
    font-size: 16px;
  }
}

.stream-item.project {
  border: none;
  grid-column: auto / span 2;
  width: 100%;

  a {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }


  h1, h3, p, a {
    color: black;
  }

  h1 {
    font-size: 3em;
  }
}

.stream-item.quote {
  border-color: $blue;
  grid-column: auto / span 2;
  width: 100%;

  .project-description {
    margin: auto 0 0 0;
    > p {
      color: lighten($ink, 15%);
      padding-left: 15px;
      font-style: italic;
      vertical-align: end;
    }
    .quote {
      font-size: 1.2rem;
      position: relative;
    }
    .quote:before {
      content: '\"';
      color: $grey;
      font-size: 5rem;
      position: absolute;
      top: -30px;
      left: -30px;
    }
  }
}