.tools {
  display: flex;
  flex-flow: column;
  width: 940px;
  align-content: center;
  margin: auto;
  padding: 30px 0 0 0;
  background: white;
  border: 2px solid $blue;
  box-shadow: 0 10px 6px -6px darken($grey, 25%);


  @media screen
    and (min-width: 1050px) {
    max-width: 1050px; }
  @media screen
    and (min-width: 790px)
    and (max-width: 1049px) {
      max-width: 790px; }
}

.tool {
  padding: 0 100px;

  h2 {
    margin: 0;
    font-weight: 500;
  }
}