// Sizing:
$wide-screen: 1400px !default;
$laptop: 1000px !default;
$pad: 600px !default;
$on-palm: 400px !default;

$spacing-unit: 30px;
$padding-unit: 15px;
$margin-unit: 15px;

// Fonts
$font: 'Inconsolata', 'Menlo', monospace;
$font-sans: 'Helvetica Neue', sans-serif;
$font-size: 16px;
$line-height: 1.7;
$header-line-height: 3;
$font-weight: 400;
$font-weight-bold: 700;

$caption-size: 12px;

// Colors:
$brand: #4e00be;
$accent-light: #77E4B5;
$accent-dark: #00c069;
$tertiary: #FFEB00;

$site-background: #dce6f2;
$card-main-background: white;
$card-secondary-background: #d7e3f2;
$card-color-background: $brand;

$ink: $brand;
$ink-on-dark: $site-background;



// Import partials.
@import "base/base",
"base/_media_mixins.scss",
"base/_style_mixins.scss",
"base/layout",
"base/syntax-highlighting";
