
/**************
  li COLOR GENERATORS
*************/
// tools
$purp-blue: #8860D0, #7C76D6, #718Cdd, #65a2e3, #5ab9ea; 
@for $i from 1 through length($purp-blue) {
  .tools li:nth-child(#{length($purp-blue)}n+#{$i}) > div {
    background: nth($purp-blue, $i)
  }
}
//articles
$blue-green: #59BCDB, #56C4BB, #54CC9B, #52D47B, #50DC5B;
@for $i from 1 through length($blue-green) {
  .articles li:nth-child(#{length($blue-green)}n+#{$i}) > div {
    background: nth($blue-green, $i)
  }
}
//apps
$pink-orange: #F953A2, #f76a91, #f68280, #f49a6f, #f3b25e;
@for $i from 1 through length($pink-orange) {
  .apps li:nth-child(#{length($pink-orange)}n+#{$i}) > div {
    background: nth($pink-orange, $i)
  }
}

/**************
  LAYOUT
*************/
// .tools, .articles, .apps {
//   display: flex;
//   flex-flow: row wrap;
// }

.works-page {

  h2 {
    font-size: $base-font-size * 2;
    font-weight: 300;
    margin: 30px 0 15px;
  }
}


.tool-display, .articles-display,
.apps-display {
  display: flex;
  justify-content: space-between;

    ul {
      margin: 0;
    }
    div {
      flex: 1 1 auto;
    }
}

//Visible parts of li
.tools > li > div,
.articles > li > div,
.apps > li > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 100px;
  list-style: none;
    h4 {
      color: black;
      font-size: $base-font-size * 1.5;
      text-align: center;
    }
}

.list-item {
  display: flex;
  flex-direction: row;
}

.tools > li {
  &:hover {
    div {
      background-image: -webkit-linear-gradient(left, #8860D0, #7C76D6, #718Cdd, #65a2e3, #5ab9ea);
      background-image: -moz-linear-gradient(left, #8860D0, #7C76D6, #718Cdd, #65a2e3, #5ab9ea);
      background-image: -o-linear-gradient(left, #8860D0, #7C76D6, #718Cdd, #65a2e3, #5ab9ea);
      background-image: linear-gradient(to right, #8860D0, #7C76D6, #718Cdd, #65a2e3, #5ab9ea);
    }
  }
}

.articles > li {
  &:hover {
    div {
      background-image: -webkit-linear-gradient(left, #59BCDB, #56C4BB, #54CC9B, #52D47B, #50DC5B);
      background-image: -moz-linear-gradient(left, #59BCDB, #56C4BB, #54CC9B, #52D47B, #50DC5B);
      background-image: -o-linear-gradient(left, #59BCDB, #56C4BB, #54CC9B, #52D47B, #50DC5B);
      background-image: linear-gradient(to right, #59BCDB, #56C4BB, #54CC9B, #52D47B, #50DC5B);
    }
  }
}

.apps > li {
  &:hover {
    div {
      background-image: -webkit-linear-gradient(left, #F953A2, #f76a91, #f68280, #f49a6f, #f3b25e);
      background-image: -moz-linear-gradient(left, #F953A2, #f76a91, #f68280, #f49a6f, #f3b25e);
      background-image: -o-linear-gradient(left, #F953A2, #f76a91, #f68280, #f49a6f, #f3b25e);
      background-image: linear-gradient(to right, #F953A2, #f76a91, #f68280, #f49a6f, #f3b25e);
    }
  }
}

//Descriptions start out invisible.
.mouseover {
  display: none;
  position: absolute;
  width: 500px;
  border: .5px lightgrey solid;
  padding: 10px;

  h3 {
    font-size: $base-font-size * 2;
  }
}

.description-area {
  margin: 0 20px;
  padding: 10px;
  text-align: center;

}

.img-gallery {
 


  img {
    flex-shrink: 1;
  }
}


.description-links {
  text-align: center;
}

.firrs-list > li {
  margin-left: 50px;
}