html {
	font-size: 10px;
}

/*********
** Font **
 ********/
* {
	font-family: $serif;
}

h1, h2, h3 {
	font-family: $sans;
	font-weight: $header-weight;
}

p, h1, h2, h3 {
	margin-bottom: $text-margin-bottom;
	line-height: $line-height;
}
p, a {
	font-size: $font-size;
	line-height: $line-height;
}

a {
	color: $link-ink;
	display: inline-block;
	position: relative;
	padding-bottom: 2px;
	text-decoration: none;

	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		bottom: 5px;
		height: 1px;
		width: 100%;
		transition: width 0s ease;
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		right: 0;
		bottom: 5px;
		height: 1px;
		width: 100%;
		background: $link-ink;
		transition: width .2s ease;
	}
	&:hover:before {
		width: 0;
		background: $blue;
		transition: width .2s ease;
	}
	&:hover:after {
		width: 0;
		background: transparent;
		transition: width 0s ease;
	}

	&:hover {
		color: $blue;
		cursor: e-resize;
	}
}

h1 {
	font-size: 3.5rem;
}

h2 {
	font-size: 2.2rem;
}

h3 {
	font-size: 1.5rem;
}

.subtext {
	font-size: 1.25rem;
}


/*********
** Divider **
 ********/

.Divider {
	margin: $spacing-unit 0;
	display: block;
	clear: both;
	border-bottom: 1px solid $divider;
}

