/*********
** Font **
 ********/
* {
	font-family: $serif;
}

h1, h2, h3 {
	font-family: $sans;
	font-weight: $header-weight;
}

p, h1, h2, h3 {
	margin-bottom: $text-margin-bottom;
	line-height: $line-height;
}
p, a {
	font-size: $font-size;
	line-height: $line-height;
}

a {
	color: $link-ink;
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
	text-align: center;

	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		bottom: 5px;
		height: 1px;
		width: 100%;
		transition: width 0s ease;
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		right: 0;
		bottom: 5px;
		height: 1px;
		width: 100%;
		background: $link-ink;
		transition: width .5s ease;
	}
	&:hover:before {
		width: 0;
		background: $blue;
		transition: width .5s ease;
	}
	&:hover:after {
		width: 0;
		background: transparent;
		transition: width 0s ease;
	}

	&:hover {
		color: $blue;
		cursor: e-resize;
	}
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2.2rem;
}

h3 {
	font-size: 1.5rem;
}
.sliding-u-l-r-l-inverse {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}
.sliding-u-l-r-l-inverse:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 100%;
	transition: width 0s ease;
}