html {
	font-size: 10px;
}

/*********
** Font **
 ********/
p,
ul,
ol,
table {
	line-height: $line-height;
	margin-bottom: $text-margin-bottom;
}

p,
a,
ul,
ol,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
input,
textarea,
button {
	font-family: $sans;
	font-size: $font-size;
	line-height: $line-height;
}

a {
	color: $link-ink;
	display: inline-block;
	position: relative;
	text-decoration: none;

	&:hover {
		color: $blue;
		cursor: pointer;
	}
}

p > a {
	text-decoration: underline;
}

h1,
h2,
h3,
h4 {
	color: $ink;
	font-family: $sans;
	font-weight: $header-weight;
	margin-bottom: 0;
}

h1 {
	font-size: 4rem;
	margin-bottom: $text-margin-bottom;
}

h2 {
	font-size: 3rem;
	margin-bottom: $text-margin-bottom;
}

h3 {
	font-size: 2.5rem;
	margin-bottom: $text-margin-bottom / 4;
}

h4 {
	font-size: 2.2rem;
	margin-bottom: $text-margin-bottom / 4;
}

.subtext {
	font-size: 1.25rem;
}

// Blockquote

blockquote {
	width: calc(100% + 33px);
	color: black;
	border-left: 8px solid darken($peachy, 20%);
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	padding: $spacing-unit / 2;
	margin: ($spacing-unit) 0;
	font-style: italic;
	quotes: "\0022""\0022""\2018""\2019";
	position: relative;
	left: -(8px + ($spacing-unit/2));

	p:last-child {
		margin-bottom: 0;
	}
}

// Tables
table {
	border-collapse: collapse;
	border: 1px solid black;
	width: 100%;
}

thead {
	border-bottom: 1px solid black;
	background: $card-background-black;
	color: white;
}

th,
td {
	text-align: left;
	padding: 10px 10px;
}

/*********
** Divider **
 ********/

.Divider {
	margin: $spacing-unit 0;
	display: block;
	clear: both;
	border-bottom: 1px solid $divider;
}

.Mini-Divider {
	width: 100px;
	margin: $spacing-unit auto;
	display: block;
	clear: both;
	border-bottom: 1px solid $divider;
}
