/*********
** Font **
*********/
$sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: 'Crimson Text', Georgia, serif;
$mono: 'Inconsolota', monospace;
$line-height: 1.67;
$font-size: 1.5rem;
$header-weight: 700;
$text-margin-bottom: 2rem;

/*********
** COLORS **
**********/
$ink: black;
$ink-on-black: white;
$link-ink: #222121;

$background-color: white;
$background-gradient: linear-gradient(180deg, #FFF6FF, #F6F6FF);;
$card-background-black: #222121;

$purple: #734E9C;
$blue: #179AAE;

$divider: rgba(0, 0, 0, .2);


/*********
** Box Styles **
**********/
$material-shadow: 0 10px 20px rgba(0, 0, 0, .16);
@mixin material-shadow {
	box-shadow: $material-shadow;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	&:hover {
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
}

/*********
** Layout **
**********/
$spacing-unit: 50px;
$content-width-laptop: 80vw;
$paragraph-width-laptop: 45vw;