/*********
** Font **
*********/
$sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: 'Crimson Text', Georgia, serif;
$mono: 'Inconsolota', monospace;
$line-height: 1.67;
$font-size: 1.5rem;
$header-weight: 700;
$text-margin-bottom: 2em;

/*********
** COLORS **
**********/
$ink: black;
$ink-on-black: white;
$link-ink: #222121;

$background-color: white;
$background-gradient: linear-gradient(180deg, #FFF6FF, #F6F6FF);;
$card-background-black: #222121;

$purple: #734E9C;
$blue: #179AAE;

/*********
** Layout **
**********/
$spacing-unit: 50px;
$content-width-laptop: 80vw;
$paragraph-width-laptop: 45vw;