/*********
** Font **
*********/
$sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: 'Crimson Text', Georgia, serif;
$mono: 'Space Mono', monospace;
$line-height: 1.67;
$font-size: 2rem;
$header-weight: 700;
$text-margin-bottom: 4rem;
$code-text-size: 1.5rem;

/*********
** COLORS **
**********/
$ink: black;
$ink-on-black: white;
$link-ink: #434343;

$background-color: white;
$background-gradient: linear-gradient(180deg, #fff6fb, #fbf6ff, #fff8f6);
$card-background-black: #222121;
$purple: #734E9C;
$blue: #179AAE;
$peachy: #E66A67;
$turquoise: #61C8AA;
$red: #ff0000;

$divider: rgba(0, 0, 0, .2);

/*********
** Box Styles **
**********/
$material-shadow: 0 10px 20px rgba(0, 0, 0, .16);
@mixin material-shadow {
	box-shadow: $material-shadow;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	&:hover {
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
}

/*********
** Layout **
**********/
$spacing-unit: 50px;
$content-width-laptop: 900px;
$paragraph-width-laptop: 750px;


/*********
** Hero Styles **
**********/

.Hero {
	margin: 100px 0;
	padding: $spacing-unit $spacing-unit $spacing-unit 10vw;
	background: $card-background-black;
	width: 60%;
	min-width: 600px;
	color: $ink-on-black;
	position: relative;
	@include material-shadow;
	h1 {
		margin: 0;
		max-width: 500px;
		line-height: 1;
	}

	.Hero--SocialLinks {
		margin-top: $spacing-unit;
	}
}

/*********
** Transitions **
**********/
