// From the stream page container
.Stream-Page {
	display: flex;

}
// from the stream page component
.Stream {

	.Stream--Hero {
		margin: 100px 0;
		padding: $spacing-unit $spacing-unit $spacing-unit 10vw;
		background: $card-background-black;
		width: 60%;
		min-width: 600px;
		color: $ink-on-black;
		position: relative;
		@include material-shadow;
		h1 {
			margin: 0;
			max-width: 500px;
			line-height: 1;
		}
	}


	ul {
		margin: $spacing-unit;
		& > a:hover {
			color: black;
		}
	}

	li {
		display: flex;
		align-items: center;
		padding: $spacing-unit;
		&:hover {
			@include material-shadow;
		}

		.StreamItem--PostMeta {
			flex: 0 1;
			padding-right: $spacing-unit;
			p {
				font-family: $mono;
				font-size: 1.2rem;
			}
		}

		.StreamItem--PostContent {
			span {
				display: flex;
				.tag {
					font-family: $mono;
					font-size: 1.2rem;
					padding-right: 10px;
				}
			}
		}


	}
}