---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "variables";
@import 'home';
@import 'contact';
@import 'portfolio';
@import 'mobile';
@import 'articles';
@import 'newHome';