.About--Body {
  .self-portrait {
    width: 300px;
    float: right;
    outline: 5px solid black;
    outline-offset: -5px;
    position: relative;
    right: -100px;
  }

  .Currently {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;

    p {
      margin-bottom: 0;
    }
  }

  .album-img, .book-img {
    width: 330px;
  }
}

