@import '../../../styles/variables.scss';

.Home {
	padding-bottom: 150px;
}

.Home--Hero {
	margin: 100px 0;
	padding: $spacing-unit $spacing-unit $spacing-unit 10vw;
	background: $card-background-black;
	width: 60vw;
	min-width: 600px;
	color: $ink-on-black;
	@include material-shadow;
	h1 {
		margin: 0;
		max-width: 500px;
		line-height: 1;
	}
}

.Home--Content {
	width: $content-width-laptop;
	margin: auto;
}

.Home--About {
	width: $paragraph-width-laptop;
}