@import '../../../styles/variables.scss';

.Home--Hero {
  margin: 200px 0 100px;
  position: relative;

  h1 {
    margin: 0;
    max-width: 450px;
    line-height: 1;
    font-size: 6rem;
  }

  .Hero--SocialLinks {
    margin-top: $spacing-unit;
  }
}

.OptIn {
  border: 1px solid black;
  padding: $spacing-unit / 3;
  width: 80%;
  margin:$spacing-unit auto;
}