@import '../../../styles/variables.scss';

.Home--Body {
  padding-bottom: $spacing-unit * 2;
}

.Home--Hero {
  h1 {
    font-size: 6rem;
  }

  .Hero--SocialLinks {
    margin-top: $spacing-unit;
  }
}

.nuggets {
  width: 70%;
  display: block;
}
