@import '../../../styles/variables.scss';

.Home--Hero {
  h1 {
    font-size: 6rem;
  }

  .Hero--SocialLinks {
    margin-top: $spacing-unit;
  }
}

.OptIn {
  border: 1px solid black;
  padding: $spacing-unit / 3;
  width: 80%;
  margin:$spacing-unit auto;
}