<!DOCTYPE html>
  <html lang="{{ page.lang | default: site.lang | default: "en" }}">
    {% include head.html %}
    <!--{% include header.html %} -->
    <div class='desktop'>

    <div class='Home--Body home-wrapper'>
        <div class='Home--Title'>
          <div class='Home--Me'>
            <img src='http://res.cloudinary.com/ericwindmill/image/upload/v1497802221/slight_color_square_nzel0j.png'/>
            <h1> Eric Windmill -</h1>
            <h2> Front End Developer </h2>
          </div>

          <div class='Home--Nav'>
            <a class='fancy-link' href="#">Portfolio</a>
            <a class='fancy-link' href="#">Articles</a>
            <a class='fancy-link' href="#">About</a>
            <a class='fancy-link' href="#">Contact</a>
          </div>
        </div>



        <div class='Home--Content'>
          <span class='slogan--container'>
            <div class='slogan--sentence'>
              <h4>Human</h4>
              <h4>Friendly</h4>
              <span class='slogan--word'>
                <h3 class='slogan one'>Development</h3>
                <h3 class='slogan two'>Design</h3>
                <h3 class='slogan three'>User-Interaction</h3>
                <h3 class='slogan four'>Software.</h3>
              </span>
            </div>
          </span>
          <div class='directions'> </div>
          <div class='seperator first-sep'> </div>
          <div class='Home--Styles Home--About'>
            <p>
              I'm a <em>front-end developer</em> with a penchant for design and user-interaction. I'm devoted to making the web accessible and easy to use for everyone. I'm currently living in San Francisco, CA.
            </p>
            <br />
            <p>
              Other than building digital things, sometimes I <a href='#'>write</a> about what I know. I'm a former Sommelier and chronic wine lover, I like to <a href='#'>travel</a> to exotic places, and I devour music. 
            </p>
          </div>

          <div class='seperator'> </div>
          <div class='Home--Styles Home--Portfolio'>

            <h1 class='Home--SubHead' id='details-quote'>Good development is &nbsp; <em>sweating the details</em></h1>
            <ul class='Home-Project'>
              <h1>Selected Work</h1>
              <li>
                <div class='inner-seperator'> </div>
                <div class='Project--Header'>
                  <a href='#'><h2 class='Project--Title' >Groovie</h2></a>
                  <p class='Project--Role'><em>Full-stack Developer</em></p>
                </div>
                <p class='Project--Description'>
                  Groovie is a web application for My Morning Jacket mega-fans. Having seen the band 60+ times, this is my true passion project.
                  <br /><br />
                  The app allows fans to track the MMJ concerts they've attended and get metrics returned based on that history. It was built with modern technologies like Ruby on Rails, React and Redux. I also got the chance to work with data-visualization libraries to display metrics, which is my new favorite thing.
                </p>
              </li>

              <li>
                <div class='inner-seperator'> </div>
                <div class='Project--Header'>
                  <a href='#'><h2 class='Project--Title'>On the Grid</h2></a>
                  <p class='Project--Role'><em>Front-End Developer</em></p>
                </div>
                <p class='Project--Description'>
                  CSS Grid is the newest and most powerful layout tool that ships with CSS. I built this app to teach web developers how Grid works, because it should be everywhere.
                  <br /><br />
                  It was built with pure, sweet Javascript and CSS.
                </p>
              </li>

              <li>
                <div class='inner-seperator'> </div>
                <div class='Project--Header'>
                  <a href='#'><h2 class='Project--Title'>Bulletin</h2></a>
                  <p class='Project--Role'><em>Mobile Developer</em></p>
                </div>
                <p class='Project--Description'>
                  This app was a real treat to make, as it was my first foray into mobile. I built this app with a couple pals using React Native. I love React, so I was pining to work with their cross-device version.
                  <br /><br />
                  The app allows users to drop (digital) notes for friends at any location - parks, resturants - you name it. Your friend will get the note when they show up at the location. 
                </p>
              </li>
              <div class='inner-seperator'> </div>
            </ul>
            <a class='fancy-link right' href='#'>Full Portfolio</a>
          </div>
          <div class='clearfix'> </div>
          <div class='seperator'> </div>
          <div class='Home--Email'>
            <h1 class='Home--SubHead'> Let's get in touch</h1>
            <p> Questions, comments, concerns? Want to work together? </p>
            <a href='mailto:eric@ericwindmill.com' class='fancy-link'>eric@ericwindmill.com</a>
          </div>


          <div class='seperator'> </div>
          <h1 class='Home--SubHead'>Elsewhere</h1>
          <div class='Home--Elsewhere'>
            <a class='fancy-link' href='https://github.com/ericwindmill'>Github</a>
            <a class='fancy-link' href='https://instagram.com/ericwindmill'>Instagram</a>
            <a class='fancy-link' href='https://www.linkedin.com/in/eric-windmill-71843849/'>Linked In</a>
            <a class='fancy-link' href='https://twitter.com/ericwindmill'>Twitter</a>
          </div>
          <div class='seperator'> </div>
          <div class='Home--Footer'>
            <h1>2016 - Future | Eric Windmill</h1>
          </div>
        </div>
    </div> 
  </div>




    <!--Mobile layout!-->
     <div class='mobile'>
      <div class='mobile-header'><em>Making the web a more beautiful place.</em></div>

      <div class='mobile-body'>
        <p> Hi, I'm <strong>Eric Windmill</strong></p>
        <p> I'm a front-end web developer with a penchant for design and user-interaction. I'm devoted to making the web accessible and easy to use for everyone.</p>
        <p> I've lived in all different corners of the country and the globe, and I'm curious and passionate about designing for a global platform, while preserving all of our uniqueness.</p> 
        <p> Currently, I'm living in San Francisco, CA </p>
        <p> Besides creating digital things, I'm a Sommelier, and I write about wine and web development around the web at places like The Huffington Post. I like to read books and devour music.</p>
        <br />
        <p> As of June 2017, I am available for work. </p>
        <p class='footer-msg'><em>Let's get in touch.</em></p>
        <div class='button-container' >
          <a class='button' href='mailto:eric@ericwindmill.com'>eric@ericwindmill.com</a>
        </div>
        <div class='mobile-icons'>
          <a href='https://github.com/ericwindmill' class='social-icon github'><i class="fa fa-github" aria-hidden="true"></i></a>
          <a href='https://instagram.com/ericwindmill' class='social-icon instagram'><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href='https://www.linkedin.com/in/eric-windmill-71843849/' class='social-icon linkedin'><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
          <a href='https://twitter.com/ericwindmill' class='social-icon twitter'><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </html>