<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class='home_body'>

    {% include header.html %}
    <div class="home">
      <div class='title-bg'>
      <header class="name-title home-wrapper">
        <img src='http://res.cloudinary.com/ericwindmill/image/upload/v1498708107/portfolio_site/profile-pig.png' width='200px' />
          <h3> <em>Hey, I'm </em> </h3>
          <h1> Eric Windmill</h1>
          <h3> I'm a software developer. </h3>
      </header> 
   </div>

 
      <h2 class='portfolio-title'>What I've Done (so far)</h2>
      <div class='portfolio home-wrapper'>
        <main class='works-page'>
          <h2> Tools and Tutorials </h2> 
          <div class='tool-display'>
            <ul class='tools'>
              <li id='on-the-grid-li' class='list-item'>
                <div>
                  <h4>On the Grid</h4>
                </div> 
              </li>
              <li id='redux-cycle-li' class='list-item'>
                <div>
                  <h4>The Redux Cycle Visualizer</h4>
                </div>
              </li>
              <li id='firrs-stack-li' class='list-item'>
                <div>
                  <h4>FiRRS Stack Boilerplate</h4>
                </div>  
              </li>
            </ul>
            <div class='description-area'>
              <div id='on-the-grid-li-description' class='mouseover'>
                <img src='http://res.cloudinary.com/ericwindmill/image/upload/v1498691700/portfolio_site/on-the-grid-logo.png' width='300px'/>
                <p>On the Grid is a tool that helps developers learn how to use CSS's most powerful layout tool: grid. When I first learned about grid, I was taken back. I learned once again that vanilla is the way to go! Less bloat, less dependecies. As of March 2017, Grid is supported by all major browsers.</p>
                <a class='description-link' href='https://ericwindmill.github.io/on-the-grid/'>Live</a> ||
                <a href='https://github.com/ericwindmill/on-the-grid'>Github</a> 
              </div>

              <div id='redux-cycle-li-description' class='mouseover'>
                <img src='http://res.cloudinary.com/ericwindmill/image/upload/v1498676175/portfolio_site/Screen_Shot_2017-06-28_at_11.55.44_AM.png' width='400px'/>
                <h3>Learn the Redux Cycle!</h3> 
                <p>The Redux Visualizer is a tool built for React Riot, a hackathon that requires the use of React. It's a simple tool that allows you to see what's actually happening in the Redux cycle, using the Giphy API. </p>
                <a class='description-link' href='https://hackbit.github.io/reactriot2017-oceanbeach/'>Live</a> ||
                <a href='https://github.com/Hackbit/reactriot2017-oceanbeach'>Github</a> 
              </div>

              <div id='firrs-stack-li-description' class='mouseover'>
                <img src='http://res.cloudinary.com/ericwindmill/image/upload/v1498678452/portfolio_site/Screen_Shot_2017-06-28_at_12.33.55_PM.png' width='400px'/>
                <h3>Rapid React App Prototyping!</h3> 
                <p>This is the set-up I use whenever I want to rapidly build a new idea. The boilerplate code is ready to go with:
                  <h4> React, Redux, Firebase, Webpack, and SASS </h4>
                </p>
                <a href='https://github.com/Hackbit/reactriot2017-oceanbeach'>Github</a> 
              </div>

            </div>
          </div>



          <h2> Articles </h2>
          <div class='articles-display'>
            <ul class='articles'> 
              <li id='res-img-li' class='list-item'>
                <div>
                  <h4>Responsive Images for Faster Loading Times</h4>
                </div>  
              </li>
              <li id='react-riot-li' class='list-item'>
                <div>
                  <h4>React Riot Hack-a-thon</h4>
                </div>  
              </li>
            </ul>
            <div class='description-area'>
              <p id='res-img-li-description' class='mouseover'>**Under Construction**</p>
              <p id='react-riot-li-description' class='mouseover'>**Under Construction**</p>
            </div>
          </div>

          <h2> Projects </h2>
            <div class='apps-display'>
              <ul class='apps'>
                <li id='groovie-li' class='list-item'>
                  <div>
                    <h4>GroovieHQ</h4>
                  </div>  
                </li>
                <li id='live-tonight-li' class='list-item'>
                  <div>
                    <h4>Live Tonight</h4>
                  </div>  
                </li>
                <li id='bulletin-li' class='list-item'>
                  <div>
                    <h4>Bulletin</h4>
                  </div>  
                </li>
                <li id='fortaleza-li' class='list-item'>
                  <div>
                    <h4>Fortaleza Wordpress Theme</h4>
                  </div>
              </ul>
              <div class='description-area'>
                <p id='groovie-li-description' class='mouseover'>**Under Construction**</p>
                <p id='live-tonight-li-description' class='mouseover'>**Under Construction**</p>
                <p id='bulletin-li-description' class='mouseover'>**Under Construction**</p>
                <p id='fortaleza-li-description' class='mouseover'>**Under Construction**</p>
              </div>
            </div>
          </main>
        </div>


     
      <div class='about-bg'>
        <aside class="about home-wrapper">
          <div class='about-content'>
              <h2>Born and raised in the Bluegrass State.</h2>
              <h2>Currently living in San Francisco, CA.</h2>
              <h2>Former Sommelier, chronic wine lover.</h2>
          </div>
        </aside> <!-- about -->
      </div>
    </div>

     {% include footer.html %}

  </body>
</html>


   <!--Shadow bob-->
  <script>
    const hero = document.querySelector(".title-bg");
    const text = hero.querySelector("h1");


    function shadow(e){
      const width = hero.offsetWidth;
      const height = hero.offsetHeight;
      const walk = 5; 
      let { offsetX: x, offsetY: y} = e;
      
      if (this !== e.target){
        x = x + e.target.offsetLeft;
        y = y + e.target.offsetTop;	
      }
      const xWalk = Math.round((x / width * walk) - (walk / 2));
      const yWalk = Math.round((x / height * walk)-(walk / 2));
      
    text.style.textShadow = `
    ${xWalk}px ${yWalk}px 1px rgba(10,10,10,0.3),
    ${xWalk-1}px ${yWalk+1}px 1px rgba(10,10,10,0.3)
    `;				
    }

    hero.addEventListener("mousemove", shadow);
    </script>