---
layout: default
---

<div class="home">
  <div class='text-content-width'>
  <ul class='post-list'>
    <li>
      <h2>
        <a class='post-link' href='/books'>My Library</a>
        <p class='post-meta'>A list of books that have made me a better developer, designer, friend, son, human, etc.</p>
      </h2>
    </li>
  </ul>

  <div style='margin-bottom:50px;'class='seperator'> </div>
  <h1>Recent Articles:</h1>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
</div>
</div>
