---
layout: page
---




  <dl>
    {% for post in site.posts %}
      {% if post.external_url %}
        <dt><a class='post-link' target='_blank' href='{{ post.external_url }}'>{{ post.title }}</a></dt>
          <dd class='post-meta'><time>{{ post.date | date: "%d %b %y" }}</time> {{ post.external_site }}</dd>
      {% else %}
          <dt><a class='post-link' href='{{ post.url}}'>{{ post.title }}</a></dt>
          <dd class='post-meta'><time>{{ post.date | date: "%d %b %y" }}</time></dd>
      {% endif %}
    {% endfor %}
  </dl>
