
.IndexTemplate--Page {
	height: 100vh;
	display: flex;
	justify-content: space-between;
}

.Home--Container,
.Stream--Container,
.About--Container,
.Courses--Container,
.tag-container,
.PostTemplate--Container,
.Contact--Container,
.OptIn--Container
{
	width: 100%;
	//min-width: 80vw;
	overflow: scroll;
	padding-bottom: $spacing-unit * 2;
}
