
.IndexTemplate--Page {
	height: 100vh;
	display: flex;
	justify-content: space-between;
}

.Home--Container,
.Stream--Container,
.About--Container,
.Courses--Container,
.tag-container,
.PostTemplate--Container,
.Contact--Container,
.OptIn--Container
{
	width: 100%;
	//min-width: 80vw;
	overflow: scroll;
}

.About--Body,
.Contact--Body,
.Courses--Body,
.Home--Body,
.OptIn--Body,
.Stream--Body {
  	width: $paragraph-width-laptop;
    margin: 0 0 0 150px;
    padding-bottom: $spacing-unit * 2;
}

