
.IndexTemplate--Page {
	height: 100vh;
	display: flex;
	justify-content: space-between;
}

.Home--Container,
.Stream--Container,
.About--Container,
.Courses--Container,
.PostTemplate--Container
{
	width: 100%;
	overflow: scroll;
}