/*************************
* DEFAULT TEMPLATE
**************************/
.page-content {
	padding: 150px 100px;

	@media screen and (max-width: $on-palm) {
		padding: 0;
	}
}


/*************************
* Site Header
**************************/
.site-header {
	position: absolute;
	top: 75px;
	left: 50%;
	opacity: 1;
	transform: translate(-50%, -50%);
	transition: all .7s ease-out; 
}

.site-nav {
	a {
		margin-right: 50px;
	}
	a:last-child {
		margin-right: 0;
	}
}

.site-header.fade-out-header {
	opacity: 0;
	top: -25px; 
}



//.site-header {
//  min-height: $spacing-unit * 2;
//  // margin-top: 5px;
//  background: white;
//  border-bottom: 2px solid $blue;
//  box-shadow: 0 10px 6px -6px darken($grey, 25%);
//  padding: 0 20px;
//}
//
//.site-title {
//  font-size: $font-size;
//  line-height: $line-height * $font-size * 2.25;
//  float: left;
//  color: $ink;
//  transition: all 0.3s ease-in-out;
//
//  &:hover  {
//    color: $brand;
//  }
//}
//
//.site-nav {
//  float: right;
//  line-height: $line-height * $font-size * 2.25;
//
//  .nav-trigger {
//    display: none;
//  }
//
//  .menu-icon {
//    display: none;
//  }
//
//  .active {
//    border-top: 5px solid $brand;
//  }
//
//  .page-link {
//    font-size: $font-size;
//    color: $ink;
//    line-height: $line-height;
//    padding: 17px 10px 10px;
//    transition: all 0.3s ease-in-out;
//
//    &:hover  {
//      color: $brand;
//      border-bottom:5px solid $brand;
//    }
//    // Gaps between nav items, but not on the last one
//    &:not(:last-child) {
//      margin-right: 20px;
//    }
//  }

