/**
 * Site header
 */
.site-header {
  min-height: $spacing-unit * 2;
  margin-top: 5px;
}

.site-title {
  font-size: $font-size;
  line-height: $line-height * $font-size * 2.25;
  float: left;
  color: $ink;
  transition: all 0.3s ease-in-out;

  &:hover  {
    color: $brand;
  }
}

.site-nav {
  float: right;
  line-height: $line-height * $font-size * 2.25;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .active {
    border-top: 5px solid $brand;
  }

  .page-link {
    font-size: $font-size;
    color: $ink;
    line-height: $line-height;
    padding: 17px 10px 10px;
    transition: all 0.3s ease-in-out;

    &:hover  {
      color: $brand;
    }
    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
//   @include media-query($on-palm) {
//     position: absolute;
//     top: 9px;
//     right: $spacing-unit / 2;
//     border: 1px solid lighten($grey, 20%);
//     border-radius: 5px;
//     text-align: right;

//     label[for="nav-trigger"] {
//       display: block;
//       float: right;
//       width: 36px;
//       height: 36px;
//       z-index: 2;
//       cursor: pointer;
//     }

//     .menu-icon {
//       display: block;
//       float: right;
//       width: 36px;
//       height: 26px;
//       line-height: 0;
//       padding-top: 10px;
//       text-align: center;

//       > svg path {
//         fill: darken($grey, 20%);
//       }
//     }

//     input ~ .trigger {
//       clear: both;
//       display: none;
//     }

//     input:checked ~ .trigger {
//       display: block;
//       padding-bottom: 5px;
//     }

//     .page-link {
//       display: block;
//       padding: 5px 10px;

//       &:not(:last-child) {
//         margin-right: 0;
//       }
//       margin-left: 20px;
//     }
//   }
// }



// /**
//  * Site footer
//  */
.site-footer {
  border-top: 1px solid $blue;
  padding: ($spacing-unit * 2) 0 $spacing-unit;
  margin-top: $spacing-unit;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-msg {
  text-align: center;
  font-weight: 300;
  margin: 0;
}

.footer-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  #footer-seperator {
    width: 39%;
  }

  > p {
    padding: 0 5px;
    margin: 0;
  }
}

.button {
  font-size: $font-size;
  text-align: center;
  display: inline-block;
  padding: 5px 10px;
  background: $blue;
  transition: all 0.2s ease-in-out;
  color: white;
  font-weight: 300;

  &:hover {
    background: darken($blue, 15%);
    color: white;
  }
}

.social-icon {
  color: $ink;
  font-size: $font-size * 1.8;
  
  &:not(:last-of-type) {
    padding-right: $spacing-unit / 2;
  }
}

.footer-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.fa-twitter:hover {
  color: $primary-yellow;
}
.fa-linkedin-square:hover {
  color: $primary-blue;
}
.fa-instagram:hover {
  color: #F953A2;
}
.fa-github:hover {
  color: $primary-red;
}
.fa-envelope-o:hover {
  color: #f49a6f;
}



// /**
//  * Page content
//  */
// .page-content {
//   padding: ($spacing-unit * 3) 0;
//   background: white;
//   width: 100%;
// }

// .page-heading {
//   font-size: $font-size * 2.2;
//   font-family: $sans;
//   color: $ink;
//   text-align: center;
//   padding-bottom: $spacing-unit * 2;
// }

// .post-list {
//   margin-left: 0;
//   list-style: none;

//   > li {
//     margin-bottom: $spacing-unit;
//   }
// }

// .post-meta {
//   font-size: $small-font-size;
//   color: $grey;
// }

// .post-link {
//   display: block;
//   @include relative-font-size(1.5);
// }



// /**
//  * Posts
//  */
// .text-content-width {
//   width: 600px;
//   margin: 0 auto;
// }

// .post-header {
//   margin-bottom: $spacing-unit;
//   text-align: center;
// }

// .post-title {
//   @include relative-font-size(2);
//   letter-spacing: -1px;
//   line-height: 1;
//   font-weight: 300;

//   @include media-query($on-laptop) {
//     @include relative-font-size(2.25);
//   }
// }

// .post-content {
//   margin: 0 auto $spacing-unit;

//   h2 {
//     @include relative-font-size(2);

//     @include media-query($on-laptop) {
//       @include relative-font-size(1.75);
//     }
//   }

//   h3 {
//     @include relative-font-size(1.625);

//     @include media-query($on-laptop) {
//       @include relative-font-size(1.375);
//     }
//   }

//   h4 {
//     @include relative-font-size(1.25);

//     @include media-query($on-laptop) {
//       @include relative-font-size(1.125);
//     }
//   }
// }


/*****
*Utility
*****/
.label-seperator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-unit 0;

  p {
    display: inline;
    margin: 0;
    text-transform: lowercase;
    font-size: .9em;
    color: $blue;
  }
}

.seperator {
  height: 1px;
  border-bottom: 1px $blue solid;
  width: 90%;
}