// GENERAL MEDIA RESETS

// MEDIA QUERIES FOR GRID

@mixin Grid-On-Palm() {
	@media screen and (max-width: $on-palm ) {
		grid-template-columns: 1fr;
		grid-auto-rows: 100%;
	}
}

@mixin Grid-Wide-Screen() {
	@media screen and (min-width: $wide-screen) {
		grid-template-columns: repeat(2, 600px);
		grid-auto-rows: 600px;
	}
}

@mixin Single-Column-On-Mobile() {
	@media screen and (max-width: $on-palm) {
		grid-column: span 1;
	}
}