.ContactForm {
	display: flex;
	flex-direction: column;

	input {
			background: none;
			border: none;
			border-bottom: 2px solid black;
			margin-bottom: 20px;
			font-size: $font-size;
			width: 40%;
			min-width: 400px;
			transition: all .3s ease;
			&::-webkit-input-placeholder {
				color: lighten($link-ink, 20%);
			}

			&:focus{
				width: 41%;
				outline: none;
				background: lighten($blue, 50%);
			}

		}

	textarea {
		background: none;
		border: none;
		border-bottom: 2px solid black;
		margin-bottom: 20px;
		font-size: $font-size;
		height: 50px;
		overflow: hidden;
		resize: none;
		width: 90%;
		min-width: 500px;
		transition: all .3s ease;
		&::-webkit-input-placeholder {
			color: lighten($link-ink, 20%);
		}

		&:focus {
			outline: none;
			background: lighten($blue, 50%);
		}
	}

	.SubmitRegion {
		max-width: 600px;
		display: flex;
		justify-content: space-between;
		p {
			margin: 0;
		}
		button {
			width: 150px;
			text-align: center;
			border: 2px solid black;
			background: none;
			border-radius: 0;
			font-size: $font-size;

			&:hover {
				background: lighten($blue, 50%);
			}
		}
	}
}